{
  "tabWidth": 4,
  "embeddedLanguageFormatting": "auto",
  "useTabs": false,
  "proseWrap": "always",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "tabWidth": 4,
        "embeddedLanguageFormatting": "auto"
      }
    },
    {
      "files": [
        "*.js",
        "*.css",
        "*.html"
      ],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}